.footer{
    width: 100%;
    z-index: 20;
    border-top: 1px solid #e2e8f0;
    padding: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 100px;
    flex-shrink: 0;
    flex-grow: 0;
}

.horaContainer p{
    font-size: 1.7rem;
    font-weight: 800;
}

@media screen and (max-width: 360px){
    .footer{
        flex-direction: column;
        row-gap: 10px;
    }
}